* {
    padding: 0;
    margin: 0;
}

/*В начале обнуляются все отступы*/

html {
    box-sizing: border-box; 
}
/* Это значит, что размер элемента включает в себя padding и border, но не включает margin */

body {
    margin: 0 auto; /* Автоматический отступ сверху и сниузу и выравнивание по горизонтали */
    height: 100%;
    flex-direction: column; /*Главная ось контейнера- вертикальная*/
    font-weight: 500;
    font-size: 35px;
    line-height: 43px;
    color: black;
    background: #ffffff;

}

.page_header {
    width: 1900px;
    min-height: 900px;
    background-image: linear-gradient(180deg, rgba(237, 164, 24, 1), rgba(237, 164, 24, 0));
}

.navigation {
    display: flex;
    flex-wrap: wrap; /*Перенос элементов на новую строку, если не вмещаются*/
    justify-content: center;
    min-height: 70px;
    padding-top: 105px;
    padding-right: 65px;
}

.logo {
    display: block; /*Делает элемент блочным*/
    margin-top: 8px;

}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /*Промеэуток между элементами*/
    margin: auto 0;
    padding: auto 0;
    padding-left: 500px;
    margin-left: 150px;
    list-style: none;

}

.navigation_title_main {
    display: block;
    min-width: 100px;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-decoration: none;
    color:#000;
    
}

.navigation_button {
    display: inline-block; /*Делает элемент встроенным блоком*/
    width: 70px;
    height: 70px;
    background-color: #fff;
    border: none;
    border-radius: 100px;
}

.container_page_header {
    display: flex;
    padding-top: 20px;
    gap: 20px;
    padding-left: 30px;
}

.text_header_list {
    width: 600px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.text_header {
    margin:  0;
    padding: 0;
    padding-top: 90px;
    font-weight: 800;
    font-size: 33px;
    line-height: 40px;

}

.text_header_discount {
    margin:  0;
    padding: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
}

.container_button_header {
    display: block;
    margin:  0;
    padding: 25px;
    font-weight: 400;
    font-size: 30px;
    line-height: 25px;
    color: white;
    background-color: rgb(231, 37, 37);
    border-radius: 50px;
    border: none;
}

.page_main {
    width: 1900px;
    min-height: 900px;
    text-align: center;
}

.conainer_catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalog_title {
    margin: 0;
    padding: 0;
    font-size: 45px;
    line-height: 55px;
    color: black;
}

.catalog_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    margin-left: 15px;
    margin-top: 40px;
    padding: 0;
    gap: 40px 30px;
    list-style: none;
}

.catalog_item {
    width: 500px;
}

.catalog_text {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    font-size: 35px;
    line-height: 45px;
    color: black;
    
}

.page_footer {
    width: 1900px;
    min-height: 450px;
    text-align: center;
    background-image: linear-gradient(180deg, rgba(237, 164, 24, 0), rgba(237, 164, 24, 1));

}

.footer_list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 160px;
    gap: 100px;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    justify-content: center;
    list-style: none;
}

.footer_title {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black
}

.footer_page_text {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    list-style: none;
}

.footer_text {
    padding-top: 25px;
}

.footer_contacts {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    list-style: none;
    padding-top: 25px;
}

.footer_img {
    display: block;
    
}